/* Base CSS for smaller screens */
.grid-layout {
  display: grid;
  grid-template-columns: auto;
  gap: 2em; /* No gap between cards */
  justify-content: center;
}
.nyt-card {
  background-color: #f8f8f8; /* Light paper-like background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  padding: 20px;
  height: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Times New Roman", Times, serif; /* Newspaper-like font */
  color: #333; /* Darker text color for contrast */
  border-radius: 5px; /* Slightly rounded corners */
  overflow: hidden;
}

.card-title {
  font-size: 1.4em; /* Slightly larger and bolder title */
  font-weight: bold;
  margin-bottom: 10px;
}

.card-body p {
  font-size: 1em;
  line-height: 1.6; /* Increased line height for readability */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.card-actions p {
  font-size: 0.8em;
  color: #666;
}

/* Media query adjustments as before */
@media screen and (min-width: 1024px) {
  .grid-layout {
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;
  }

  .nyt-card {
    /* Additional styles for large screens if needed */
  }
}
