h2.card-title {
    width: 50px; /* Adjust the width as needed */
    white-space: nowrap; /* Prevents the text from wrapping to a new line */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis to overflow text */
    display: block;
}

.blog {
    display: none;
}